@using community.Models @using community.Models.ViewModels @model community.Models.ViewModels.SendMessageVM 
@{ Layout = "~/Views/Shared/_Layout.cshtml";
}


<form id="writeMsg" action="/SendMessages/CreateMessage" method="post" class="form-horizontal">
	<H5>Title: </H5>
	<input name="textArea" type="text" class="form-control" />
	<H5>Message: </H5>
	<input name="textArea" type="text" class="form-control" />
	<!--<input name="groupTitle" type="text" class="form-control" />-->
	<!--<button type="submit" class="btn btn-default">Create Group</button>-->
	<button type="submit" class="btn btn-default">Send Message</button>
</form>

<!--oops solved it...-->



<table class="table">
	<tr>
		<td>
			<select id="destSelect">
                @foreach (var dest in Model.DestinationInfo) {
                    <!--<option value="{'isGroup':'@dest.isGroup','destinationId':'@dest.destinationId','destinationName':'@dest.destinationName'}">@dest.destinationName</option>-->
                    <option value="@dest.isGroup|@dest.destinationId|@dest.destinationName">@dest.destinationName</option>
                }
            </select>
		</td>
		<td>
			<button id="addRecipient" type="button" class="btn btn-default">Add Recipient</button>
		</td>
		<td>
			<button id="clearRecipients" type="button" class="btn btn-default">Clear Recipients</button>
		</td>
	</tr>
</table>



<div id="recipientsToSend"></div>
<div id="disphere"> </div>

@section scripts {

<script>

    var recipients = [];
    var reciepientsNames = "";

$( "#writeMsg" ).submit( function( event ) {
    event.preventDefault();
    var $form = $( this );
    var destId1 = $form.find( "input[name='destId']" ).val();
    var destName1 = $form.find( "input[name='destName']" ).val();
    var textArea1 = $form.find( "input[name='textArea']" ).val();
    //var  url1 = $form.attr( "action" );
    //oops solved it...
    var mysel = $("#destSelect option:selected").text();
    var myselval = $("#destSelect option:selected").val();
    alert(myselval +" : " + mysel);
  var data = {
      destinations : recipients,
       textArea : textArea1
  };

alert("BidData! = "+ data);

  var url1 = "/SendMessages/CreateMessage";
  var posting = $.post({
      type: "POST",
      url: url1,
      data: JSON.stringify(data),
      contentType:  "application/json",
      dataType: "json",
      success: function(msg) {
          $("#disphere").html("Meddelande nummer: " + msg.id + " avsänt till "+ msg.destinations + "," + msg.timeStamp);
          alert("Meddelande nummer" + msg.id + "avsänt till "+ JSON.stringify(msg.destinations) + "," + msg.timeStamp);
      }
  });
  
  
  // Send the data using post
  //var posting = $.post( url, { text: "message",groupId: "lol" } );
});

$( "#addRecipient" ).click( function( event ) {
    event.preventDefault();
    var valueString = $("#destSelect option:selected").val();
    var res = valueString.split("|");
    var selectedIsGroup = res[0];
    var selectedId = res[1];
    var selectedName = res[2];




    var newDestination = {
          isGroup : selectedIsGroup,
         destinationId : selectedId,
          destinationName : selectedName
    };
    
    recipients.push(newDestination);
    reciepientsNames = reciepientsNames.concat(selectedName);
    reciepientsNames = reciepientsNames.concat(", ");


    $("#recipientsToSend").html(reciepientsNames);

});

$( "#clearRecipients" ).click( function( event ) {
    alert("Clearing recipients");
    event.preventDefault();
    recipients.length = 0;
    reciepientsNames = "";
    $("#disphere").html(" ");
    $("#recipientsToSend").html(reciepientsNames);
});


</script> }