@using community.Models @using community.Models.ViewModels.ReadMessageViewModels @model community.Models.ViewModels.ReadMessageViewModels.ReadMessageIndexVM
@{ Layout = "~/Views/Shared/_Layout.cshtml"; }

<table class="table">
	@foreach (var msg in Model.messages) {

	<tr>
		<td>
			@Html.DisplayFor(modelMsg => msg.title)
		</td>
		<td>
			@Html.DisplayFor(modelMsg => msg.from)
		</td>
		<td>
			@Html.DisplayFor(modelMsg => msg.time)
		</td>
		<td>

			<div id="message-@msg.id" hidden>
				text
			</div>
			<myrow>

				<button id="btnreadmsg" type="button" name="msgid" value="@msg.id"> read</button>
			</myrow>

		</td>
	</tr>

	}
</table>

@section scripts {
<script>
$( "myrow" ).click( function( event) {
    event.preventDefault();
    var a = $( this ).find( "button[name='msgid']" ).val();
    //alert("myrow: " + a);
    var btn =$( this ).find( "button[name='msgid']" );
    
    var data = {
          id : a,
          content : "msg"  
  };
  var url1 = '@Url.Action("GetMessageBody","ReadMessages")';
  var posting = $.post({
      type: "POST",
      url: url1,
      data: JSON.stringify(data),
      contentType:  "application/json",
      dataType: "json",
      success: function(msg) {
          btn.hide();
          $("#message-" + a ).html(msg.content).show()
          //alert(msg.name);
      }
  });

    
});


</script> }