@using community.Models @using community.Models.ViewModels.ReadMessageViewModels @model community.Models.ViewModels.ReadMessageViewModels.ReadMessageIndexVM
@{ Layout = "~/Views/Shared/_Layout.cshtml"; }

<table class="table">
<tr>
    <th>Title</th>
    <th>From</th> 
    <th>Receiced at: </th>
    <th>IsRead</th>
    <th>Content: </th>
  </tr>

	@foreach (var msg in Model.messages) {

	<tr id="tabrow-@msg.id">
		<td>
			@Html.DisplayFor(modelMsg => msg.title)
		</td>
		<td>
			@Html.DisplayFor(modelMsg => msg.from)
		</td>
		<td>
			@Html.DisplayFor(modelMsg => msg.time)
		</td>
        <td>
			<div id="isRead-@msg.id"> @Html.DisplayFor(modelMsg => msg.isRead)</div>
		</td>
		<td>

			<div id="message-@msg.id" hidden>
				text
			</div>
			<myrow>

				<button id="btnreadmsg" type="button" name="msgid" value="@msg.id"> read</button>
			</myrow>

		</td>
        <td>
			<myrowdel>

				<button id="btnremove" type="button" name="msgid" value="@msg.id"> delete message</button>
			</myrowdel>

		</td>
	</tr>

	}
</table>

@section scripts {
<script>
$( "myrow" ).click( function( event) {
    event.preventDefault();
    var a = $( this ).find( "button[name='msgid']" ).val();
    var btn =$( this ).find( "button[name='msgid']" );
    
    var data = {
          id : a,
          content : "msg"  
  };
  var url1 = '@Url.Action("GetMessageBody","ReadMessages")';
  var posting = $.post({
      type: "POST",
      url: url1,
      data: JSON.stringify(data),
      contentType:  "application/json",
      dataType: "json",
      success: function(msg) {
          btn.hide();
          $("#message-" + a ).html(msg.content).show()
          $("#isRead-" + a).html('<input checked="checked" class="check-box" disabled="disabled" type="checkbox">').show()
      }
  });
});

$( "myrowdel" ).click( function( event) {
    event.preventDefault();
    var theid = $( this ).find( "button[name='msgid']" ).val();
    var btn =$( this ).find( "button[name='msgid']" );
    
    var data = {
          id : theid
    };
  var url1 = '@Url.Action("DeleteMessage","ReadMessages")';
  var posting = $.post({
      type: "POST",
      url: url1,
      data: JSON.stringify(data),
      contentType:  "application/json",
      dataType: "json",
      success: function(msg) {
          btn.hide();
          $("#tabrow-" + theid ).hide();
          alert(nsg.content);
      }
  });
});

</script> }